@font-face {
 font-family: 'Amatic SC';
 src: url('../fonts/amaticsc-regular-webfont.eot');
 src: local('☺'), url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
 url('../fonts/amaticsc-regular-webfont.ttf') format('truetype'),
 url('../fonts/amaticsc-regular-webfont.svg#webfont72lyKL7L') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Amatic SC';
 src: url('../fonts/amaticsc-bold-webfont.eot');
 src: local('☺'), url('../fonts/amaticsc-bold-webfont.woff') format('woff'),
 url('../fonts/amaticsc-bold-webfont.ttf') format('truetype'),
 url('../fonts/amaticsc-bold-webfont.svg#webfont72lyKL7L') format('svg');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'Source Code Pro';
 src: url('../fonts/sourcecodepro-medium-webfont.eot');
 src: local('☺'), url('../fonts/sourcecodepro-medium-webfont.woff') format('woff'),
 url('../fonts/sourcecodepro-medium-webfont.ttf') format('truetype'),
 url('../fonts/sourcecodepro-medium-webfont.svg#webfont72lyKL7L') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Source Code Pro';
 src: url('../fonts/sourcecodepro-bold-webfont.eot');
 src: local('☺'), url('../fonts/sourcecodepro-bold-webfont.woff') format('woff'),
 url('../fonts/sourcecodepro-bold-webfont.ttf') format('truetype'),
 url('../fonts/sourcecodepro-bold-webfont.svg#webfont72lyKL7L') format('svg');
 font-weight: bold;
 font-style: normal;
}