
.under {
	position: fixed;
	bottom: 0;
	height: 100%;
	width: 100%;
	&.relative {
		position: relative;
		&.flex {
			//margin-top: -82px;
		}
	}
	.page-width {
		@include transform(translatez(0));
		display: none;
		z-index: 30;
		position: relative;
		margin-top: -16px;
		@include background(white url(#{$imgPath}/texture_copper.png));
		@include background(url(#{$imgPath}/texture_copper.png),rgba(white,.9));
		@include box-sizing(border-box);
		@include box-shadow(0 0 6px rgba(black,.5));
		padding: 20px 40px;
		h1 {
			font-size: 2.5em;
			margin: 20px 0 10px;
		}
		h2 {
			font-size: 1.1em;
			margin: 15px 0 10px 0;
			font-weight: 700;
		}
		&.map {
			h2 {
				margin-top: 0;
				font-size: 1.1em;
			}
		}
		p,
		li {
			font-size: .8em;
			margin: 10px 0;
			font-family: arial,sans-serif;
			line-height: 1.3em;
		}
		ol {
			li {
				list-style: decimal;
				margin-left: 20px;
			}
		}
		em {
			font-style: italic;
		}
		strong {
			font-weight: 700;
		}
		.column {
			@include inline-block;
			margin-left: 1%;
			vertical-align: top;
			&.double {
				width: 48%;
			}
			&:first-child {
				margin-left: 0;
			}
			&.smaller {
				width: 75%;
				margin: 0 auto;
				display: block;
			}
		}
		.newsletter {
			p,
			form {
				@include inline-block;
			}
		}
	}
	.menu {
		//@include background(rgba(white,.4));
		h5,
		h4,
		h2,
		p {
			text-align: center;
		}
	}
	.hours {
		padding: 10px;
		margin: -20px -40px -10px;
		background: white;
	}
	.specials {
		//background: white;
		background: url(#{$imgPath}/chalkboard.jpg);
		border: 8px solid #894621;
		padding: 20px 40px;
		margin: 9px -40px 25px;
		color: white;
		h6 {
			font-family: $script;
			font-size: 2.75em;
		}
		p {
			font-size: .8em;
		}
		.alignright {
			width: 40%;
		}
		.special {
			@include inline-block;
			width: 48%;
		}
		.newsletter {
			margin-bottom: 10px;
		}
		textarea,
		input[type=text],
		select {
			@include input-text;

		}
		input[type=submit],
		input[type=image] {
			@include button;
			font-size: 1.1em;
			padding: 3px 15px;
		}
	}
}
.under {
	&.flex {
		z-index: 30;
		height: 500px;
		//margin-top: 100px;
		.fullscreen-bg {
			z-index: 10;
			bottom: -200%;
		}
	}
	.page-width {
		//padding-top: 90px;
		padding-bottom: 40px;
	}

	hr {
		border: 0;
		border-bottom: 2px solid black;
		height: 0;
		overflow: hidden;
		margin: 20px 0;
		padding: 0;
	}
	h4 {
		text-decoration: underline;
		margin: 15px 0 10px;
	}
	h5 {
		font-size: 14px;
		margin: 10px 0;
		text-transform: uppercase;
	}
	p,
	small {
		a {
			@include normal-link;
		}
	}
	small {
		a {
			font-family: $sans-serif;
		}
	}
}

.double-column-this {
	p {
		@include inline-block;
		width: 48%;
		margin: 0 10px;
	}
}
.triple-column-this {
	p {
		@include inline-block;
		width: 31%;
		margin: 0 10px;
	}
}


#map_provincetown,
#map_cambridge,
#map_jp {
    width: 100%;
    height: 350px;
    #contentProvincetown,
    #contentJP,
    #contentCambridge {
    	height: 90px;
    	p {
    		a {
    			background: $color_pink;
    			color: white;
    		}
    	}
    }
}

h2 {
	a {
		color: $color_orange;
	}
}