
.welcome {
	background: url(#{$imgPath}/woodcut.png);
	height: 250px;
	text-align: center;
	position: absolute;
	margin-bottom: -125px;
	bottom: 50%;
	width: 100%;
	z-index: 20;
	&.overflow {
		overflow: hidden;
	}
	&.blowup {
		.jog-left,
		.jog-right {
			//background: black;
			width: 50px;
			height: 100%;
			position: fixed;
			&.inactive {
				&:before {
					color: white;
				}
			}
		}
		.close-blowup {
			display: block;
		}
	}
	.close-blowup {
		display: none;
		position: fixed;
		height: 60px;
		width: 55px;
		top: 10%;
		right: 10%;
		background: $color_orange;
		z-index: 100;
		text-align: center;
		font-size: 3em;
		@include box-shadow(0 0 6px rgba(0,0,0,.8));
		&:after {
			content: 'x';
			color: white;
			font-weight: 600;
		}
	}
	.jog-left,
	.jog-right,
	.jog-open {
		width: 4.5%;
		height: 236px;
		position: absolute;
		top: 7px;
		z-index: 40;
		&:hover {
			&:before,
			span {
				@include opacity(.7);
			}
		}
		.open {
			display:none;
			margin-top: -51px;
			width: 148px;
			background: black;
			&:after {
				content: 'x';
				color: white;
				background: $color_pink;
				@include inline-block;
				padding: 0 5px 3px;
				font-size: .8em;
				margin-left: 8px;
				font-family: $sans-serif;
			}
		}
		&.inactive {
			height: 0;
			z-index: 10;
			.closed {
				display: none;
			}
			&:before {
				display: none;
			}
			.open {
				display: inline-block;
			}
		}
		&:before {
			color: $color_pink;
			position: relative;
			top: 45%;
			font-size: 4em;
			@include transform(scale(1, 1.75));
			display: block;
			margin-top: -15px;
		}
	}
	.jog-right {
		right: 0;
		//@include background(linear-gradient(left,transparent,black));
		text-align: right;
		border-right: 40px solid transparent;
		&:before {
			content: '\25BA';
			margin-right: -40px;
			@include text-shadow(2px 2px 3px rgba(0,0,0,.8));
			//@include text-shadow(-2px 2px 3px rgba(0,0,0,.8));
		}
	}
	.jog-left {
		left: 0;
		//@include background(linear-gradient(left,black,transparent));
		text-align: left;
		border-left: 40px solid transparent;
		&:before {
			content: '\25C4';
			margin-left: -40px;
			@include text-shadow(2px 2px 3px rgba(0,0,0,.8));
			//@include text-shadow(2px 2px 3px rgba(0,0,0,.8));
		}
	}
	.jog-open {
		right: 0;
		z-index: 41;
		//@include background(linear-gradient(left,transparent,black));
		border-right: 40px solid transparent;
		font-family: $script;
		span {
			position: absolute;
			right: 5px;
			margin-right: -40px;
			top: 10px;
			color: $color_pink;
			z-index: 100;
			font-size: 2em;
			font-weight: bold;
			@include text-shadow(2px 2px 3px rgba(0,0,0,.8));
		}
		&:before {
			content: '\25C4';
			right: -49px;
			position: absolute;
			@include text-shadow(2px 2px 3px rgba(0,0,0,.8));
		}
	}
	.images-wrap-wrap {
		overflow: hidden;
		margin-right: -1034%;
		position: relative;
	}
	.images-wrap {
		width: 1177%;
		padding: 20px 0;
		margin-left: -545%;
		position: relative;
		.image-wrap {
			margin: 0 14px;
			@include inline-block;
			width: 260px;
			height: 184px;
			position: relative;
			@include spriteNormal-sprite(bg_napkin);
			a {
				&:hover {
					@include opacity(.7);
				}
				img {
					width: 88%;
					height: 84%;
					position: absolute;
					margin: 12px;
					left: 0;
				}
			}
			&.active {
				.fullscreen-bg {
					display: block;
				}
			}
			.fullscreen-bg {
				display: none;
				z-index: 30;
			}
			.large {
			}
		}
	}
	.logo {
		background: url(#{$imgPath}/texture_border.png);
		margin: 3px auto;
		@include inline-block;
		position: relative;
		top: 174px;
		margin-top: -137px;
		margin-bottom: -24px;
		padding: 20px;
		border: 6px double #dfb664;
	}
	h1 {
		background: black;
		@include inline-block;
		color: white;
		font-size: 4em;
		padding: 29px 20px 25px 187px;
		text-transform: uppercase;
		@include text-shadow(0 0 5px black);
		@include box-shadow(0,0,5px,rgba(0,0,0,.5));
		z-index: 1;
		a {
			padding: 20px 20px 20px 187px;
			margin-left: -187px;
			color: white;
			position: relative;
		}
		&.clickit {
			background: $color_orange;
		}
		&:before {
			content: '';
			position: absolute;
			left: 38px;
			@include spriteNormal-sprite(pot);
			width: 150px;
			height: 65px;
		}
	}
}